.img-Letch {
    width: 150px;
}

body {
    background-color: yellow;
}

.WebDevImage {
    height: 150px;
    width: 250px;
}

.SecondImage {
    height: 150px;
    width: 200px;
}

.ThirdImage {
    height: 150px;
    width: 200px;
}

@media (
    max-width: 600px
){
    .img-Letch {height: 10%;
        width: 10%;}
    .WebDevImage {width: 5%;
    height: 5%;}
    .SecondImage {width: 5%;
    height: 5;}
    .ThirdImage {width: 5%;
    height: 5%;}
    .MyShowcase {width: 5%;
    height: 5%;}
}